<%= include('includes/top.tmpl') %>

    <div class="main">
    	<div class="country-export">
	    	<label for="country" class="country--label">Show export data for:</label>
	    	<select name="country" class="country--input">
	    	</select>

	    	<div class="charts">
	    		<div class="chart chart__exporters">
	    			<ol class="chart--labels">
	    				<li style="top: 123px;" class="chart__active"><strong>United States</strong> $103m</li>
	    				<li style="top: 286px;"><strong>United Kingdom</strong> $101m</li>
	    				<li style="top: 341px;"><strong>Germany</strong> $80m</li>
	    				<li style="top: 383px;"><strong>China</strong> $68</li>
	    				<li style="top: 419px;"><strong>Iran</strong> $65</li>
	    				<li style="top: 448px;"><strong>Belgium</strong> $65</li>
	    			</ol>
	    			<div class="chart-bars">
	    				<h4 class="chart--header">Exporters</h4>
	    				<div class="chart-bar chart__active" style="height: 240px"></div>
	    				<div class="chart-bar" style="height: 50px"></div>
	    				<div class="chart-bar" style="height: 40px"></div>
	    				<div class="chart-bar" style="height: 30px"></div>
	    				<div class="chart-bar" style="height: 25px"></div>
	    				<div class="chart-bar" style="height: 20px"></div>
	    			</div>
	    		</div>	    			
	    		<div class="chart chart__importers">
	    			<ol class="chart--labels">
	    				<li style="top: 123px;"><strong>United States</strong> $103m</li>
	    				<li style="top: 286px;"><strong>United Kingdom</strong> $101m</li>
	    				<li style="top: 341px;"><strong>Germany</strong> $80m</li>
	    				<li style="top: 383px;"><strong>China</strong> $68</li>
	    				<li style="top: 419px;"><strong>Iran</strong> $65</li>
	    				<li style="top: 448px;"><strong>Belgium</strong> $65</li>
	    			</ol>
	    			<div class="chart-bars">
	    				<h4 class="chart--header">Importers</h4>
	    				<div class="chart-bar" style="height: 240px"></div>
	    				<div class="chart-bar" style="height: 50px"></div>
	    				<div class="chart-bar" style="height: 40px"></div>
	    				<div class="chart-bar" style="height: 30px"></div>
	    				<div class="chart-bar" style="height: 25px"></div>
	    				<div class="chart-bar" style="height: 20px"></div>
	    			</div>
	    		</div>
	    		<div class="charts--seperator-outer">
	    			<div class="charts--seperator">
	    				<div class="h-line exports-line" style="top: 110px;"></div>
	    				<div class="v-line"></div>
	    				<div class="h-line imports-line-top"></div>
	    				<div class="h-line imports-line-bottom"></div>
	    			</div>
	    		</div>
	    	</div>
	    </div>
    </div>

<%= include('includes/bottom.tmpl') %>