<%= include('includes/top.tmpl') %>

    <div class="main">
    	<div class="country-export">
	    	<label for="country" class="country--label">Show export data for:</label>
	    	<select name="country" class="country--input">
	    	</select>
	    	<h4 class="chart--header__long">Importers from the United States:</h4>
	    	<div class="charts">
	    		<div class="chart chart__exporters"></div>	    			
	    		<div class="chart chart__importers"></div>
	    		<div class="charts--seperator-outer">
	    			<div class="charts--seperator">
	    				<div class="h-line exports-line"></div>
	    				<div class="v-line"></div>
	    				<div class="h-line imports-line-top"></div>
	    				<div class="h-line imports-line-bottom"></div>
	    			</div>
	    		</div>
	    	</div>
	    </div>
    </div>

<%= include('includes/bottom.tmpl') %>