$barWidth: 118px;
$sepWidth: 62px;

.country-export{
	background-color: #f2f2f2;
	max-width: 800px;
	margin: auto;
	padding: 13px;

	.country--label{
		font-size: 2.0em;
		font-weight: bold;
	}

	.country--input{
		margin-left: 10px;
		width: 300px;
		padding:8px 8px;
		font-size: 2.0em;
		border-radius:0;
		-moz-appearance: none;
		-ms-appearance: none;
		-o-appearance: none;
		-webkit-appearance: none;
		-webkit-border-radius: 0;	
		background:#fff url(../img/dropdown.png) center right no-repeat;
	}

	.charts{
		overflow: hidden;
		height: 470px;
		margin-top: 20px;

		.chart{
			height: 470px;
			float: left;
			width: 50%;
			position: relative;

			.chart--labels{
				display: block;
				position: absolute;
				top: 0;

				padding: 0;
				margin: 0;
				list-style: none;

				li{
					position: absolute;
					font-size: 1.4em;
					display: block;
				}
			}

			.chart-bars{
				position: absolute;
				width: $barWidth;
				top: 0;
				float: right;

				.chart--header{
					margin: 0;
					font-size: 1.4em;
					font-weight: bold;
				}

				.chart-bar{
					margin: 8px 0;
				}
			}
		}

		.chart__exporters{
			padding-right: 36px;
			text-align: right;

			.chart--labels{
				left: 0;
				right: $barWidth + $sepWidth/2;

				li{
					right: 0;
					padding-right: 8px; 
				}
			}

			.chart--header{
				text-align: left;
			}

			.chart-bars{
				right: $sepWidth/2;

				.chart-bar{
					background-color: #cce5e5;
				}

				.chart__active{
					background-color: #007f7f;
				}
			}

		}
		.chart__importers{
			padding-left: 36px;

			.chart--labels{
				right: 0;
				left: $barWidth + $sepWidth/2;

				li{
					left: 0;
					padding-left: 8px;
				}
			}

			.chart--header{
				text-align: right;
			}

			.chart-bars{
				left: $sepWidth/2;

				.chart-bar{
					background-color: #cce5e5;
				}

				.chart__active{
					background-color: #007f7f;
				}
			}
		}

		.charts--seperator-outer{
			width: $sepWidth;
			margin-left: 50%;

			.charts--seperator{
				width: $sepWidth;
				margin: 24px 0 0 (-$sepWidth/2);
				height: 445px;

				position: relative;

				.h-line{
					position: absolute;
					height: 1px;
					width: (($sepWidth/2) - 4);
					background-color: #565656;
				}

				.v-line{
					position: absolute;
					left: $sepWidth/2;
					width: 1px;
					top: 0;
					bottom: 0;
					background-color: #565656;
				}

				.exports-line{
					left: 4px;
				}

				.imports-line-top{
					right: 4px;
					top: 0;
				}

				.imports-line-bottom{
					right: 4px;
					bottom: 0;
				}
			}
		}

	}

}