$barWidth: 118px;
$sepWidth: 62px;

.country-export{
	background-color: #f2f2f2;
	max-width: 800px;
	margin: auto;
	padding: 13px;

	.chart--mobile-desc{
		font-size: 1.4em;
	}

	.country--label{
		font-size: 2.0em;
		font-weight: bold;
		line-height: 2em;
	}

	.country--input{
		display: block;
		margin:0;
		width: 100%;
		padding:8px 8px;
		font-size: 2.0em;
		border-radius:0;
		-moz-appearance: none;
		-ms-appearance: none;
		-o-appearance: none;
		-webkit-appearance: none;
		-webkit-border-radius: 0;	
		background:#fff url(../img/dropdown.png) center right no-repeat;
	}

	.chart--header__long{
		margin: 1em 0 -20px;
		font-size: 1.4em;
		font-weight: bold;
	}

	.charts{
		overflow: hidden;
		height: 470px;
		margin-top: 20px;

		.chart{
			height: 470px;
			float: left;
			width: 100%;
			position: relative;

			.chart--labels{
				display: block;
				position: absolute;
				top: -20px;

				padding: 0;
				margin: 0;
				list-style: none;

				li{
					position: absolute;
					font-size: 1.4em;
					display: block;
				}

				.chart--label__active{
					color: #404040;
				}
			}

			.chart-bars{
				position: absolute;
				width: $barWidth;
				top: 0;
				float: right;

				.chart--header{
					display: none;
					height: 20px;
					margin: 0;
					font-size: 1.4em;
					font-weight: bold;
				}

				.chart-bar{
					transition: all 1.5s ease 0s;
					margin: 8px 0;
				}
			}
		}

		.chart__exporters{
			display: none;
			padding-right: 36px;
			text-align: right;

			.chart--labels{
				left: 0;
				right: $barWidth + $sepWidth/2;

				li{
					cursor: pointer;
					color: #a0a0a0;
					transition: all 1.5s ease 0s;
					right: 0;
					padding-right: 8px; 
				}

				.hover-state{
					color: #404040;
				}
			}

			.chart--header{
				text-align: left;
			}

			.chart-bars{
				right: $sepWidth/2;

				.chart-bar{
					cursor: pointer;
					background-color: #cce5e5;
				}
				.hover-state{
					background-color: #004C4C !important;
				}
				.chart--bar__active{
					background-color: #007f7f !important;
				}

			}

		}
		.chart__importers{
			padding-left: 36px;

			.chart--labels{
				right: 0;
				left: $barWidth;

				li{
					left: 0;
					padding-left: 8px;
				}
			}

			.chart--header{
				text-align: right;
			}

			.chart-bars{
				left: 0;

				.chart-bar{
					background-color: #cce5e5;
				}

				.chart--bar__active{
					background-color: #007f7f !important;
				}
			}
		}

		.charts--seperator-outer{
			display: none;
			width: $sepWidth;
			margin-left: 50%;

			.charts--seperator{
				width: $sepWidth;
				margin: 29px 0 0 (-$sepWidth/2);
				height: 440px;

				position: relative;

				.h-line{
					position: absolute;
					height: 1px;
					width: (($sepWidth/2) - 4);
					background-color: #565656;
				}

				.v-line{
					position: absolute;
					left: $sepWidth/2;
					width: 1px;
					top: 0;
					bottom: 0;
					background-color: #565656;
				}

				.exports-line{
					transition: all 1s ease 0s;
					left: 4px;
				}

				.imports-line-top{
					right: 4px;
					top: 0;
				}

				.imports-line-bottom{
					right: 4px;
					bottom: 0;
				}
			}
		}
	}

	.fast-transition {
		transition: all 0.3s ease 0s !important;
	}
}


@include respondMinMax(720px, false){
	.country-export{

		.chart--mobile-desc{
			display: none;
		}

		.country--input{
			display: inline-block;
			margin-left: 10px;
			max-width: 300px;
		}

		.chart--header__long{
			display: none;
		}
		.charts {
			.chart{
				width: 50%;
				max-width: initial;

				.chart-bars .chart--header{
					display: block;
				}

				.chart--labels{
					top: 0;
				}
			}
			.chart__exporters{
				display: block;
			}
			.chart__importers{
				display: block;

				.chart--labels{
					left: $barWidth + $sepWidth/2;
				}

				.chart-bars{
					left: $sepWidth/2;
				}
			}

			.charts--seperator-outer{
				display: block;
			}
		}
	}
}