@font-face {
  font-family:mangal;
  src: url("http://static.bbci.co.uk/modules/bbcfonts/1.7.1/fonts/hindi/Mangal.eot");
  src: local("☺"),
    url("http://static.bbci.co.uk/modules/bbcfonts/1.7.1/fonts/hindi/Mangal.woff") format("woff"),
    url("http://static.bbci.co.uk/modules/bbcfonts/1.7.1/fonts/hindi/Mangal.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
	font-family: mangal, arial, verdana, sans-serif;
}